.registerDetails{
    margin-top: 10px;
}

input[type="email"],select
 {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid ;
    border-radius: 4px;
     }

     .signup{
        margin-top: 65px;
        background-color: white;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 0 10px;
        width: 300px;
        height: fit-content;
     }
#verifyEmail{
    margin-top: 25px;
}     

.already_registered{
    width: 100%;
    padding: 5px;

}
